{
    "fixRandomSeed": false,
    "savePerformance": true,
    "curriculumConfig":{
        "evalFreq": 500,
        "numEvalGames":20,
        "evalMetric": "winrate",
        "envSchedulerConfig":{
            "quiet": false,
            "envStart": 0,
            "envStepRule":{
                "performance_threshold": 0.8,
                "patience": 2,
                "thresh_direction": "above"
            },
            "envList":[
                {
                    "layout": "smallGrid.lay",
                    "ghost": "RandomGhost",
                    "numGhosts": 1,
                    "difficulty": 1,
                    "randomStartPos": false
                },
                {
                    "layout": "smallGrid.lay",
                    "ghost": "RandomGhost",
                    "numGhosts": 1,
                    "randomStartPos":true,
                    "difficulty": 2
                },
                {
                    "layout": "mediumGrid.lay",
                    "ghost": "RandomGhost",
                    "numGhosts": 1,
                    "randomStartPos":false,
                    "difficulty": 3
                },
                {
                    "layout": "mediumGrid.lay",
                    "ghost": "RandomGhost",
                    "numGhosts": 1,
                    "randomStartPos":true,
                    "difficulty": 4
                },
                {
                    "layout": "openClassic.lay",
                    "ghost": "RandomGhost",
                    "numGhosts": 1,
                    "randomStartPos":false,
                    "difficulty": 5
                },
                {
                    "layout": "openClassic.lay",
                    "ghost": "RandomGhost",
                    "numGhosts": 1,
                    "randomStartPos":true,
                    "difficulty": 6
                },
                {
                    "layout": "testClassic.lay",
                    "ghost": "RandomGhost",
                    "numGhosts": 1,
                    "randomStartPos":false,
                    "difficulty": 7

                },
                {
                    "layout": "testClassic.lay",
                    "ghost": "RandomGhost",
                    "numGhosts": 1,
                    "randomStartPos":true,
                    "difficulty": 8
                },
                {
                    "layout": "easyClassic.lay",
                    "ghost": "RandomGhost",
                    "numGhosts": 1,
                    "randomStartPos":false,
                    "difficulty": 9
                },
                {
                    "layout": "easyClassic.lay",
                    "ghost": "RandomGhost",
                    "numGhosts": 1,
                    "randomStartPos":true,
                    "difficulty": 10
                },
                {
                    "layout":"easyClassic.lay",
                    "ghost":"RandomGhost",
                    "numGhosts":2,
                    "randomStartPos":false,
                    "difficulty":10
                },
                {
                    "layout":"easyClassic.lay"
                    ,"ghost":"RandomGhost",
                    "numGhosts":2,
                    "randomStartPos":true,
                    "difficulty":11
                },
                {
                    "layout": "smallClassic.lay",
                    "ghost": "RandomGhost",
                    "numGhosts": 1,
                    "randomStartPos":false,
                    "difficulty": 12
                },
                {
                    "layout": "smallClassic.lay",
                    "ghost": "RandomGhost",
                    "numGhosts": 2,
                    "randomStartPos":false,
                    "difficulty": 13
                },
                {
                    "layout": "smallClassic.lay",
                    "ghost": "RandomGhost",
                    "numGhosts": 1,
                    "randomStartPos":true,
                    "difficulty": 13
                },
                {
                    "layout": "smallClassic.lay",
                    "ghost": "RandomGhost",
                    "numGhosts": 2,
                    "randomStartPos":true,
                    "difficulty": 14
                },
                {
                    "layout" : "mediumClassic.lay",
                    "ghost" : "RandomGhost",
                    "numGhosts" : 1,
                    "randomStartPos" : false,
                    "difficulty" : 15
                }, 
                {
                    "layout" : "mediumClassic.lay",
                    "ghost" : "RandomGhost",
                    "numGhosts" : 1,
                    "randomStartPos" : true,
                    "difficulty" : 16
                }, 
                {
                    "layout" : "mediumClassic.lay",
                    "ghost" : "RandomGhost",
                    "numGhosts" : 2,
                    "randomStartPos" : false,
                    "difficulty" : 16
                }
            ]
        }

    }
}