{
    "fixRandomSeed": false,
    "savePerformance": true,
    "curriculumConfig":{
        "evalFreq": 500,
        "numEvalGames":20,
        "evalMetric": "winrate",
        "envSchedulerConfig":{
            "quiet": false,
            "envStart": 0,
            "envStepRule":{
                "performance_threshold": 0.8,
                "patience": 2,
                "thresh_direction": "above"
            },
            "envList":[
                {
                    "layout": "smallGrid.lay",
                    "ghost": "RandomGhost",
                    "numGhosts": 1,
                    "randomStartPos":false,
                    "difficulty": 0
                },
                {
                    "layout": "smallGrid.lay",
                    "ghost": "RandomGhost",
                    "numGhosts": 1,
                    "randomStartPos":true,
                    "difficulty": 1
                },
                {
                    "layout": "smallGrid2.lay",
                    "ghost": "RandomGhost",
                    "numGhosts": 1,
                    "randomStartPos":false,
                    "difficulty": 2
                },
                {
                    "layout": "smallGrid2.lay",
                    "ghost": "RandomGhost",
                    "numGhosts": 1,
                    "randomStartPos":true,
                    "difficulty": 3
                },
                {
                    "layout": "smallGrid3.lay",
                    "ghost": "RandomGhost",
                    "numGhosts": 1,
                    "randomStartPos":false,
                    "difficulty": 4
                },
                {
                    "layout": "smallGrid3.lay",
                    "ghost": "RandomGhost",
                    "numGhosts": 1,
                    "randomStartPos":true,
                    "difficulty": 5
                },
                {
                    "layout": "smallGrid4.lay",
                    "ghost": "RandomGhost",
                    "numGhosts": 1,
                    "randomStartPos":false,
                    "difficulty": 6
                },
                {
                    "layout": "smallGrid4.lay",
                    "ghost": "RandomGhost",
                    "numGhosts": 1,
                    "randomStartPos":true,
                    "difficulty": 7
                }
            ]
        }
    }
}