{
    "num_objecttypes": 5,
    "sequence_length": 5,
    "tau": 0.005,
    "stat_freq": 100,
    "num_actions":4,
    "num_obs_directions":8,
    "start_training": 300,
    "model":
    {
        "arch":"LSTM",
        "args":{
            "hidden_size": 128,
            "num_layers": 2,
            "pre_process_layers": [64,64],
            "post_process_layers": [64,64]
        }
    },
    "rand_prob":
    {
        "type":"linear",
        "initial":1,
        "min":0.01,
        "args":{
            "eps_step": 1e-5
        }
    },
    "discount": 0.9,
    "optimizer":{
        "type": "RMSprop",
        "args": {
            "lr": 1e-3,
            "eps": 1e-6,
            "alpha": 0.95
        } 
    },
    "loss": {"type":"Huber",
        "args":{}
    },
    "replay_buffer_size": 200000,
    "batch_size": 32,
    "save_model": false,
    "path": "models/demo/LSTM_curriculum.pth",
    "load": true,
    "quiet": false
}